body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header related styles */
.header {
    background-color: #FCEEF1;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Banner related styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-content {
    max-width: 585px;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    color: #ACA3A5;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.btn-flower {
    border: 0;
    background-color: #E55473;
    border-radius: 7px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;

}

.banner .flower-pic {
    width: 570px;
    height: 700px;
    padding-top: 50px;
}

/* Main related styles */

.flowers {
    background-color: #FFF;
    text-align: center;
    margin-top: 100px;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description {
    color: #ACA3A5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 594px;
    margin: 0 auto;
}

.flowers-container {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 0 240px;
}

.text-line {
    display: flex;
    gap: 307px;
    text-align: center;
}

.text-line li {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    list-style: none;
    margin: 0 auto;
}

.deal-container {
    background-color: #FEF6F8;
    background-size: cover;
    margin-top: 128px;
    display: flex;
    gap: 215px;
    padding-right: 300px;
    padding-left: 300px;
}

.sale-content {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;
}

.sale-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 24px;
}

.sale-description {
    color: #27272799;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn-sign {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 40px;
}

.instagram-container {
    text-align: center;
    padding-top: 80px;
}

.instagram-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 32px;
}

.instagram-description {
    color: #27272799;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 320px;
    padding-right: 320px;
}

.images-container {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin-top: 48px;
    width: 1464px;
    margin-left: 240px;
    margin-right: 240px;
}

.picture {
    width: 342px;
    height: 396px;
}